<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <package ID="CsvHelper" Version="30.1.0" TargetFramework="netstandard2.1" AllowedVersions="[30.1.0]" />
  <package ID="System.Linq.Async" Version="4.1.1" TargetFramework="netstandard2.1" AllowedVersions="[4.0.0, )" />
  <package ID="Csv" Version="2.0.93" TargetFramework="netstandard2.1" AllowedVersions="[2.0.93]" />
</packages>